<%= link_to :back, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left"></span>
  Back
  <% end %></p>

  <%= bootstrap_form_for(@pin) do |p| %>
    <%= p.text_field :name %>
    <%= p.text_field :address %>
    <%= p.text_field :place %>
    <%= p.telephone_field :telephone_number %>
    <%= p.url_field :website %>
    <%= p.submit "Save", class: "btn btn-success" %>
    <br></br>
  <% end %>
