<div class="panel-body">
          <div class="actions">
              <div class="btn-group.pull-right">
                 <% @pins.each do |pin| %>
                 <li class="list-group-item">
                   <p><b>Restaurant:</b> <%= link_to pin.name, pin_path(pin) %></p>
                   <p><b>Restaurant liked by: </b>
                         <% pin.votes_for.voters.each do |p| %>
                           <% if p.present? %>
                            <p><%= link_to image_tag(p.image_file_name), @user %></p>
                           <% end %>
                         <% end %>

                   <p><%= link_to pin_path(pin) , class: "btn btn-info btn-sm" do %>
                    <span class="glyphicon glyphicon-fullscreen"></span>
                    View 
                    <% end %>
                    <% if current_user.liked? pin %>
                      <%= link_to unlike_pin_path(pin), method: :put, class: "btn btn-danger btn-sm" do %>
                      <span class="glyphicon glyphicon-remove"></span>
                      Unsave
                      <% end %>
                    <% else %>
                      <%= link_to like_pin_path(pin), method: :put, class: "btn btn-success btn-sm" do %>
                      <span class="glyphicon glyphicon-heart"></span>
                      Save 
                      <% end %>
                    <% end %>
                    </li>
                  <% end %>

              </div>
        </div>
</div>
     
