<h1>Search for restaurants</h1>
<p>Search for your favorite restaurant in our database of <b><%= @pins.count %> restaurants</b>. 
<%= link_to new_pin_path, class: "btn btn-default btn-block" do %>
<span class="glyphicon glyphicon-chevron-right"></span>
Add restaurant by yourself
<% end %></p>

<%= form_tag pins_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<%= render 'pins/show_pin_details' %>  
