<%= link_to :back, class: "btn btn-info" do %>
<span class="glyphicon glyphicon-chevron-left"></span>
Back
<% end %>
<% if current_user.liked? @pin %>
  <%= link_to unlike_pin_path(@pin), method: :put, class: "btn btn-danger" do %>
    <span class="glyphicon glyphicon-remove"></span>
    Unsave restaurant
  <% end %>
<% else %>
  <%= link_to like_pin_path(@pin), method: :put, class: "btn btn-success" do %>
    <span class="glyphicon glyphicon-heart"></span>
    Save restaurant
    <% end %>
<% end %>
<br></br>

<div class="col-xs-12">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1><%= @pin.name %></h1>
      <%= image_tag 'placekitten.jpg', class: "img-responsive" %>
      <!--<%= image_tag @pin.image.url(:medium) %>-->
      <br>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-body">
      <h3>Restaurant liked by: </h3>
      <% @pin.votes_for.voters.each do |p| %>
        <% if p.present? %>
          <p><%= link_to image_tag(p.image_file_name), @user %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="fb-comments" data-href="http://dinder-app.herokuapp.com/" data-colorscheme="light">
</div>
<div class="fb-share-button" data-href="https://www.facebook.com/pages/Dinder/817718288265084" data-layout="button"></div>
<div class="panel panel-default">
  <div class="panel-body">
    <h3>Location:</h3>
    <p><strong>Address:</strong>
      <%= @pin.address %>
    </p>
    <p><strong>Place:</strong>
        <%= @pin.place %>
    </p>
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@pin.latitude}%2C#{@pin.longitude}", class: "img-responsive" %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <h3>Contact details:</h3>
    <p><strong>Telephone number:</strong>
    <%= @pin.telephone_number %></p>
    <p><strong>Website:</strong>
    <%=  link_to @pin.website, "http://#{@pin.website}" %></p>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <% if @pin.user == current_user %>
      <div class="btn-group.pull-right">
       <%= link_to edit_pin_path(@pin), class: "btn btn-warning btn-sm" do %>
         <span class="glyphicon glyphicon-edit"></span>
         Edit restaurant
       <% end %>
       <%= link_to pin_path(@pin), :method => :delete, class: "btn btn-danger btn-sm" do %>
         <span class="glyphicon glyphicon-remove"></span>
         Delete restaurant
       <% end %>
      </div>
    <% end %>
  </div>
</div>