<% user = local_assigns.has_key?(:user) ? user : nil %>
<% if user %>
  <div class="panel-body" id="user_<%= user.id %>">
    <div class="actions">
      <p><b>Friend: </b><%= link_to user.name, user_path(user) %></p></strong>
      <p><%= link_to image_tag(user.image_file_name), user %></p>
      <p>Number of favorite restaurants: <b><%= user.find_liked_items.size %></b></p>
      <div class="btn-group.pull-right">
        <%= link_to user_path(user), class: "btn btn-info btn-sm" do %>
        <span class="glyphicon glyphicon-fullscreen"></span>
        View profile
        <% end %>
          <%= render :partial => 'users/follow_unfollow_btn', :locals => {:user => user} %>
      </div>
    </div>
  </div>
<% end %>