<h1>Welcome</h1>
<p><b><%=current_user.name %></b></p>
    <div id="pins" class="transitions-enabled">
        <%= link_to my_favorites_path, class: "btn btn-success btn-block" do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        View my <b><%= current_user.find_liked_items.size %></b> favorite restaurants 
        <% end %></p>
        <%= link_to my_friends_pins_path, class: "btn btn-success btn-block " do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        View my <b><%= current_user.follows.count %></b> friends favorites
        <% end %></p>
        <%= link_to my_friends_path, class: "btn btn-success btn-block" do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        View my <b><%= current_user.follows.count %></b> friends
        <% end %></p>
        <%= link_to users_path, class: "btn btn-danger btn-block" do %>
        <span class="glyphicon glyphicon-chevron-right"></span>
        Add friends
        <% end %></p>
    </div>

    <div class="panel-body">
        <br></br>
         <br></br>
          <br></br>
           <br></br>
            <br></br>
        <div class="fb-page" data-href="https://www.facebook.com/pages/Dinder/817718288265084" data-hide-cover="true" data-show-facepile="false" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Dinder/817718288265084"><a href="https://www.facebook.com/pages/Dinder/817718288265084">Dinder</a></blockquote></div></div>
      </div>    

      <div class="fb-comments" data-href="http://dinder-app.herokuapp.com/" data-colorscheme="light">
</div>
<div class="fb-share-button" data-href="https://www.facebook.com/pages/Dinder/817718288265084" data-layout="button"></div>


