<%= link_to :back, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left"></span>
    Back
  <% end %></p>



<div class="panel panel-default">
  <div class="panel-body">
    <h2>Profile of <%=@user.name %></h2> 
    <p><%= link_to image_tag(@user.image_file_name), @user %></p>
  </div>
</div> 



<div class="panel panel-default">
  <div class="panel-body">
    <%= link_to "Remove friend", user_unfollow_path(@user), :method => :delete, :class => "btn btn-sm btn-danger", :remote => true %>   
  </div>
</div> 

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @user.find_liked_items.size %></span>
   Favorite restaurants of <b><%=@user.name %></b>
                   <% @user.find_liked_items.each do |pin| %>
                          <p><b>Restaurant:</b> <%= link_to pin.name, pin_path(pin) %></p>
                    <% end %>
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.pins.count %></span>
    Restaurants added
  </li>
  <li class="list-group-item">
    <span class="badge"><%= @user.follows.count %></span>
    Friends of this user
  </li>
</ul>

