<%= link_to :back, class: "btn btn-default" do %>
  <span class="glyphicon glyphicon-chevron-left"></span>
    Back
  <% end %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <h2>Profile of <%=@user.name %></h2> 
    <p><%= link_to image_tag(@user.image_file_name), @user %></p>
  </div>
</div> 

<ul class="list-group">
  <li class="list-group-item">
    <span class="badge"><%= @user.find_liked_items.size %></span>
      <b>Restaurants:</b>
          <% @user.find_liked_items.each do |pin| %>
               <li class="list-group-item">
               <%= image_tag pin.image.url(:thumb) %>
               <%= link_to pin.name, pin_path(pin) %>
                </li>
          <% end %>
  </li>

  <br></br>

  <li class="list-group-item">
    <span class="badge"><%= @user.follows.count %></span>
      <b>Friends:</b>
      <% @user.follows.each do |pin| %>
           <li class="list-group-item">
           <%= link_to image_tag(@user.image_file_name), @user %>
           <%= link_to @user.name, user_path(@user) %>
            </li>
      <% end %>
  </li>
</ul>

