<div class="panel panel-default">
  <div class="panel-heading">
     <div class="panel-title">
      <h2>Looking for the best restaurants in town? </h2>
      </div>
       <div class="panel-heading">
       Save your favorite restaurants and view the favorite restaurants of your friends. 
    </div>
<div class="panel-body">
        <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook), class: "btn btn-social btn-facebook btn-lg" %><br/><br/>
      <b>Note:</b> Dinder <u> will never post messages on your Facebook wall</u>.
      </div>
      </div>
      </div>
      

<div class="fb-page" data-href="https://www.facebook.com/pages/Dinder/817718288265084" data-hide-cover="true" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/Dinder/817718288265084"><a href="https://www.facebook.com/pages/Dinder/817718288265084">Dinder</a></blockquote></div></div>



</div>

<div class="panel-body">    
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
   
      <div class="form-group">   
        <%= f.label :email, "Email adres" %>   
        <%= f.email_field :email, autofocus: true, class: "form-control", :autofocus => true %>    
      </div>   
             
       <div class="form-group">  
        <%= f.label :password, "Wachtwoord" %>  
        <%= f.password_field :password, class: "form-control" %>
        </div>
      
        <div class="form-group">   
        <%= f.submit "Bewaar", class: "btn btn-info" %>    
        </div>  

    <% end %>    
 </div>