<p>Hi <%= @pin.user.name %>,</p>

<p>Your restaurant <b><%= @pin.description %></b>, is succesfully added to Dinder. </p>

<p>You have added:<p>
<p><b>Restaurant:</b>
<%= @pin.description %></p>
<p><b>Street:</b>
<%= @pin.ingredients2 %></p>
<p><b>Place:</b>
<%= @pin.preparation %></p>
<p><b>Photo:</b></p>
<%= image_tag @pin.image.url(:medium) %>  <br>   
</div>

<p>View or edit your restaurant <%= link_to "here", pin_url(@pin) %>.</p>

<p>Dinder</p>
